{% extends '@Shop/Showing/base.html.twig' %}

{% block body %}

    <div id="carousel" class="carousel slide">
        <div class="carousel-inner" role="listbox">
            {% for item in items %}
                {% if item.type == 'video' and shopConfiguration.showVideo == 1 %}
                    <div class="item" data-video="{{ item.videoId }}" data-id="player{{ loop.index0 }}" data-number="{{ loop.index0 }}">
                        <div id="player{{ loop.index0 }}"></div>
                    </div>
                {% elseif item.type == 'picture' %}
                    <div class="item" data-duration="{{ item.length }}">
                        <img src="{{ item.picture }}">
                    </div>
                {% endif %}
            {% endfor %}
            <div class="item active" data-duration="20">
                <div id="ephemeride">
                    <img src="{{ asset('bundles/shop/image/ephemeride.jpg') }}" width="100%" height="100%"/>
                    <div id="today">
                        <p class="today misobold"></p>
                    </div>
                    <div id="tomorrow">
                        <p class="intro misolight">Demain nous fêterons</p>
                        <p class="tomorrow misobold"></p>
                    </div>
                    <div id="aftertomorrow">
                        <p class="intro misolight">Après-demain nous fêterons</p>
                        <p class="aftertomorrow misobold"></p>
                    </div>
                </div>
            </div>
            <div class="item" data-duration="20">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="fb-page" data-href="https://www.facebook.com/cadeaumaestro" data-small-header="true" data-width="470" data-height="670" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="false" data-show-posts="true">
                                <div class="fb-xfbml-parse-ignore">
                                    <blockquote cite="https://www.facebook.com/cadeaumaestro">
                                        <a href="https://www.facebook.com/cadeaumaestro">Cadeau, Maestro!</a>
                                    </blockquote>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="fader">
                                {% for carouselProduct in carouselProducts %}
                                    <div style="background: url({{ carouselProduct.picture }}) center center;{% if loop.first %} display: block;{% endif %}">
                                        <h1 class="misobold">{{ carouselProduct.name }}</h1>
                                        <p class="misobold">

                                            {% if carouselProduct.priceOld > carouselProduct.price %}
                                                <span class="price_old">{{ carouselProduct.priceOld }} €</span>
                                                <span class="price">{{ carouselProduct.price }} €</span>
                                            {% else %}
                                                <span class="price">{{ carouselProduct.priceOld }} €</span>
                                            {% endif %}

                                        </p>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="col-md-3">
                            <a class="twitter-timeline" href="https://twitter.com/search?q=%22cadeau%20maestro%22" data-widget-id="589463499992129536" data-chrome="nofooter noscrollbar transparent">Tweets sur cadeau maestro</a>
                            <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div id="newsHeader">
                                <span id="newsLogo"></span>
                                <h2 class="pacifico">Le Maestro Blog</h2>
                            </div>
                            <div id="newsContent">
                                <p id="titreBlog" class="miso_bold"></p>
                                <p id="lisezPlus">Lisez cet article sur notre blog Cadeau-Maestro.Com/Blog !</p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div id="instaHeader">
                                <img src="{{ asset('bundles/shop/image/instagram.png') }}" alt="Logo instagram" class="logo">
                            </div>
                            <iframe src="//widgets-code.websta.me/w/7a9b2dd1a965?ck=MjAxNi0wNS0xMVQwODozMDowMi4wMDBa" id="websta-widgets" class="websta-widgets" allowtransparency="true" frameborder="0" scrolling="no" style="border:none;overflow:hidden;width:840px; height: 210px; margin-left:4%; margin-top: 2%"></iframe>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/shop/css/app.css') }}" />
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('bundles/shop/js/ephemeride.js') }}"></script>
    <script src="{{ asset('bundles/shop/js/app.js') }}"></script>
    <script src="https://www.youtube.com/player_api"></script>
    <script>
        var api_blog_feed = '{{ url('showing_api_blog') }}';
        var playerList = [];
        var i = 0;
        var height = 0;

        function onYouTubeIframeAPIReady(){
            app.load.player_yt();
        }

        $(document).ready(function () {
            app.load.carousel();
            app.ajax.blog_feed();
            app.load.ephemeride();
            app.tools.carousel();

            $('.carousel').on('slid.bs.carousel', function (e) {
                app.load.carousel();
            });

            var refreshId2 = setInterval(app.scroll.twitter, 15000);

        });
    </script>
    <script>(function(d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/fr_FR/sdk.js#xfbml=1&version=v2.4&appId=404144079757052";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>
{% endblock %}



