{% extends 'base.html.twig' %}

{% block body %}
    <h1>NewsletterBlock list</h1>

    <table class="table table-hover">
        <thead>
            <tr>
                <th>Type</th>
                <th>Title</th>
                <th>Id</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for newsletterBlock in newsletterBlocks %}
            <tr>
                <td><a href="{{ path('newsletterblock_show', { 'id': newsletterBlock.id }) }}">{{ newsletterBlock.type }}</a></td>
                <td>{{ newsletterBlock.title }}</td>
                <td>{{ newsletterBlock.id }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('newsletterblock_show', { 'id': newsletterBlock.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('newsletterblock_edit', { 'id': newsletterBlock.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('newsletterblock_new') }}" class="btn btn-info">Ajouter un bloc de newsletter</a>
{% endblock %}
