{% extends 'base.html.twig' %}

{% block body %}
    <h1>Shopconfiguration</h1>

    <table class="table table-bordered table-hover">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ shopConfiguration.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ shopConfiguration.name }}</td>
            </tr>
            <tr>
                <th>Width</th>
                <td>{{ shopConfiguration.width }}</td>
            </tr>
            <tr>
                <th>Height</th>
                <td>{{ shopConfiguration.height }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('carousel_shopconfiguration_index') }}">Retourner à la liste</a>
        </li>
        <li>
            <a href="{{ path('carousel_shopconfiguration_edit', { 'id': shopConfiguration.id }) }}">Modifier</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Supprimer">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
