{% extends 'base.html.twig' %}

{% block body %}
    <h1>ShopConfiguration</h1>

    <table>
        <tbody>
            <tr>
                <th>Name</th>
                <td>{{ shopConfiguration.name }}</td>
            </tr>
            <tr>
                <th>Value</th>
                <td>{{ shopConfiguration.value }}</td>
            </tr>
            <tr>
                <th>Createdat</th>
                <td>{% if shopConfiguration.createdAt %}{{ shopConfiguration.createdAt|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Updatedat</th>
                <td>{% if shopConfiguration.updatedAt %}{{ shopConfiguration.updatedAt|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Id</th>
                <td>{{ shopConfiguration.id }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('shopconfiguration_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('shopconfiguration_edit', { 'id': shopConfiguration.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
