{% extends 'base.html.twig' %}

{% block body %}
    <h1>Liste des produits défectueux trié par fournisseurs</h1>

    {% for supplier in suppliers %}
        <h1 id="{{ supplier.idPrestashopSupplier }}">{{ supplier.name }}</h1>

        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>Quantité</th>
                    <th>Status</th>
                    <th>Nom du produit</th>
                    <th>Référence fournisseur</th>
                    <th>Prix</th>
                    <th>Déclarant</th>
                    <th>Raison</th>
                    <th>Image</th>
                    <th>Date</th>
                </tr>
            </thead>
            <tbody>
                {% for product in supplier.products %}
                    <tr>
                        <td>{{ product.quantity }}</td>
                        <td>{{ product.faulty.status }}</td>
                        <td><a href="{{ url('faulty_show', {'id': product.faulty.id}) }}" >{{ product.name }}</a></td>
                        <td>{{ product.supplierReference }}</td>
                        <td>{{ product.costPrice|number_format(2) }} €</td>
                        <td>{{ product.faulty.user.name }}</td>
                        <td>{{ product.faulty.reason }}</td>
                        <td>
                            {% for productImages in product.productImages %}
                                <a href="{{ productImages.picture }}">image {{ loop.index }}</a><br/>
                            {% endfor %}
                        </td>
                        <td>{{ product.faulty.createdAt|date("Y-m-d H:i:s") }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endfor %}
{% endblock %}