{% extends 'base.html.twig' %}

{% block product_date_send %}
    <tr>
        <td>{{ product.quantity }}</td>
        <td><a href="{{ path('faulty_show', {'id': product.faulty.id}) }}">{{ product.name }}</a></td>
        <td>{{ product.supplierReference }}</td>
        <td>{{ product.costPrice|number_format(2) }} €</td>
        <td>{{ product.formattedLocation }}</td>
        <td>{{ product.faulty.user.name }}</td>
        <td>{{ product.faulty.reason }}</td>
        <td>
            {% for productImages in product.productImages %}
                <a href="{{ productImages.picture }}">image {{ loop.index }}</a><br/>
            {% endfor %}
        </td>
        <td>{{ product.faulty.createdAt|date("Y-m-d H:i:s") }}</td>
        <td>{{ product.faulty.sendMailAt|date("Y-m-d H:i:s") }}</td>
        <td>
            <div class="btn-group">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Modifier le statut <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li><a href="{{ path('faulty_status_faulty', {'faulty':product.faulty.id, 'to':'new', 'return':status, 'supplier':supplier.id}) }}">A déclarer</a></li>
                    <li><a href="{{ path('faulty_status_faulty', {'faulty':product.faulty.id, 'to':'mail_send', 'return':status, 'supplier':supplier.id}) }}">Mail envoyé</a></li>
                    <li><a href="{{ path('faulty_status_faulty', {'faulty':product.faulty.id, 'to':'balance', 'return':status, 'supplier':supplier.id}) }}">Renvoi du fournisseur</a></li>
                    <li><a href="{{ path('faulty_status_faulty', {'faulty':product.faulty.id, 'to':'refunded', 'return':status, 'supplier':supplier.id}) }}">Terminé / Remboursé</a></li>
                </ul>
            </div>
        </td>
    </tr>
{% endblock %}

{#Block concernant les renvois fournisseurs#}
{% block product_balance %}
    {#Si la date de l'envoi du mail a dépassé 3 mois, la ligne devient rouge#}
    {% if product.faulty.sendMailAt|date_modify("+3 month")|date("Y-m-d") < now|date("Y-m-d") %}
        <tr class="danger">
    {% else %}
        <tr>
    {% endif %}
    <td>{{ product.quantity }}</td>
    <td><a href="{{ path('faulty_show', {'id': product.faulty.id}) }}">{{ product.name }}</a></td>
    <td>{{ product.supplierReference }}</td>
    <td>{{ product.costPrice|number_format(2) }} €</td>
    <td>{{ product.formattedLocation }}</td>
    <td>{{ product.faulty.user.name }}</td>
    <td>{{ product.faulty.reason }}</td>
    <td>
        {% for productImages in product.productImages %}
            <a href="{{ productImages.picture }}">image {{ loop.index }}</a><br/>
        {% endfor %}
    </td>
    <td>{{ product.faulty.createdAt|date("Y-m-d H:i:s") }}</td>
    <td>{{ product.faulty.sendMailAt|date("Y-m-d H:i:s") }}</td>
    <td>
        <div class="btn-group">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Modifier le statut <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li><a href="{{ path('faulty_status_faulty', {'faulty':product.faulty.id, 'to':'new', 'return':status, 'supplier':supplier.id}) }}">A déclarer</a></li>
                <li><a href="{{ path('faulty_status_faulty', {'faulty':product.faulty.id, 'to':'mail_send', 'return':status, 'supplier':supplier.id}) }}">Mail envoyé</a></li>
                <li><a href="{{ path('faulty_status_faulty', {'faulty':product.faulty.id, 'to':'balance', 'return':status, 'supplier':supplier.id}) }}">Renvoi du fournisseur</a></li>
                <li><a href="{{ path('faulty_status_faulty', {'faulty':product.faulty.id, 'to':'refunded', 'return':status, 'supplier':supplier.id}) }}">Terminé / Remboursé</a></li>
            </ul>
        </div>
    </td>
    </tr>
{% endblock %}

{% block product %}
    <tr>
        <td>{{ product.quantity }}</td>
        <td>{{ product.name }}</td>
        <td>{{ product.supplierReference }}</td>
        <td>{{ product.costPrice|number_format(2) }} €</td>
        <td>{{ product.formattedLocation }}</td>
        <td>{{ product.faulty.user.name }}</td>
        <td>{{ product.faulty.reason }}</td>
        <td>
            {% for productImages in product.productImages %}
                <a href="{{ productImages.picture }}">image {{ loop.index }}</a><br/>
            {% endfor %}
        </td>
        <td>{{ product.faulty.createdAt|date("Y-m-d H:i:s") }}</td>
        <td>
            <div class="btn-group">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Modifier le statut <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li><a href="{{ path('faulty_status_faulty', {'faulty':product.faulty.id, 'to':'new', 'return':status, 'supplier':supplier.id}) }}">A déclarer</a></li>
                    <li><a href="{{ path('faulty_status_faulty', {'faulty':product.faulty.id, 'to':'mail_send', 'return':status, 'supplier':supplier.id}) }}">Mail envoyé</a></li>
                    <li><a href="{{ path('faulty_status_faulty', {'faulty':product.faulty.id, 'to':'balance', 'return':status, 'supplier':supplier.id}) }}">Renvoi du fournisseur</a></li>
                    <li><a href="{{ path('faulty_status_faulty', {'faulty':product.faulty.id, 'to':'refunded', 'return':status, 'supplier':supplier.id}) }}">Terminé / Remboursé</a></li>
                </ul>
            </div>
        </td>
    </tr>
{% endblock %}

{% block table_head %}
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Quantité</th>
                <th>Nom du produit</th>
                <th>Référence fournisseur</th>
                <th>Prix</th>
                <th>Lieu</th>
                <th>Déclarant</th>
                <th>Raison</th>
                <th>Image</th>
                <th>Date</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
{% endblock %}

{% block table_head_date_send %}
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Quantité</th>
                <th>Nom du produit</th>
                <th>Référence fournisseur</th>
                <th>Prix</th>
                <th>Lieu</th>
                <th>Déclarant</th>
                <th>Raison</th>
                <th>Image</th>
                <th>Date</th>
                <th>Date envoi de mail</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
{% endblock %}

{% block table_foot %}
        </tbody>
    </table>
{% endblock %}

{% block body %}
    <h1>Liste des produits défectueux trié par fournisseurs</h1>

    {% for supplier in suppliers %}
        {% if supplier.products|length > 0 %}
            {% set new, mail_send, refunded, balance = '', '', '', '' %}
            {% set new_size, mail_send_size, refunded_size, balance_size = 0,0,0,0 %}

            {% for product in supplier.products %}
                {% if product.faulty.status == 'new' %}
                    {% set new %}
                        {{ new }}
                        {{ block('product') }}
                    {% endset %}
                    {% set new_size = new_size+1 %}
                {% endif %}
                {% if product.faulty.status == 'mail_send' %}
                    {% set mail_send %}
                        {{ mail_send }}
                        {{ block('product_date_send') }}
                    {% endset %}
                    {% set mail_send_size = mail_send_size+1 %}
                {% endif %}
                {% if product.faulty.status == 'balance' %}
                    {% set balance %}
                        {{ balance }}
                        {{ block('product_balance') }}
                    {% endset %}
                    {% set balance_size = balance_size+1 %}
                {% endif %}
                {% if product.faulty.status == 'refunded' %}
                    {% set refunded %}
                        {{ refunded }}
                        {{ block('product_date_send') }}
                    {% endset %}
                    {% set refunded_size = refunded_size+1 %}
                {% endif %}
            {% endfor %}

            {% if (new_size > 0 and status == 'new') or (mail_send_size > 0 and status == 'mail_send') or (balance_size > 0 and status == 'balance') or (refunded_size > 0 and status == 'refunded') %}
                <h1 id="{{ supplier.idPrestashopSupplier }}">{{ supplier.name }}</h1>

                {% set supplier_name_link = supplier.name|escape|replace({' ': '_'}) %}

                <div>
                    <ul class="nav nav-tabs" role="tablist">
                        {% set active = true %}
                        {% if new_size > 0 and status == 'new' %}
                            <li role="presentation"{% if active %} class="active"{% endif %}>
                                <a href="#{{ supplier_name_link }}new" aria-controls="new" role="tab" data-toggle="tab">A déclarer</a>
                            </li>
                            {% set active = false %}
                        {% endif %}
                        {% if mail_send_size > 0 and status == 'mail_send' %}
                            <li role="presentation"{% if active %} class="active"{% endif %}>
                                <a href="#{{ supplier_name_link }}mail_send" aria-controls="mail_send" role="tab" data-toggle="tab">Mail envoyé</a>
                            </li>
                            {% set active = false %}
                        {% endif %}
                        {% if balance_size > 0 and status == 'balance' %}
                            <li role="presentation"{% if active %} class="active"{% endif %}>
                                <a href="#{{ supplier_name_link }}balance" aria-controls="balance" role="tab" data-toggle="tab">Renvoi du fournisseur</a>
                            </li>
                            {% set active = false %}
                        {% endif %}
                        {% if refunded_size > 0 and status == 'refunded' %}
                            <li role="presentation"{% if active %} class="active"{% endif %}>
                                <a href="#{{ supplier_name_link }}refunded" aria-controls="refunded" role="tab" data-toggle="tab">Terminé / Remboursé</a>
                            </li>
                            {% set active = false %}
                        {% endif %}
                    </ul>
                    <div class="tab-content">
                        {% set active = true %}
                        {% if new_size > 0 and status == 'new' %}
                            <div role="tabpanel" class="tab-pane{% if active %} active{% endif %}" id="{{ supplier_name_link }}new">
                                {{ block('table_head') }}{{ new }}{{ block('table_foot') }}
                                <div class="btn-group">
                                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Modifier le statut de tous les produits <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li><a href="{{ path('faulty_status_supplier', {'supplier':supplier.id, 'from':'new', 'to':'mail_send', 'return':status}) }}">Mail envoyé</a></li>
                                        <li><a href="{{ path('faulty_status_supplier', {'supplier':supplier.id, 'from':'new', 'to':'balance', 'return':status}) }}">Renvoi du fournisseur</a></li>
                                        <li><a href="{{ path('faulty_status_supplier', {'supplier':supplier.id, 'from':'new', 'to':'refunded', 'return':status}) }}">Terminé / Remboursé</a></li>
                                    </ul>
                                </div>
                            </div>
                            {% set active = false %}
                        {% endif %}
                        {% if mail_send_size > 0 and status == 'mail_send' %}
                            <div role="tabpanel" class="tab-pane{% if active %} active{% endif %}" id="{{ supplier_name_link }}mail_send">
                                {{ block('table_head_date_send') }}{{ mail_send }}{{ block('table_foot') }}
                                <div class="btn-group">
                                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Modifier le statut de tous les produits <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li><a href="{{ path('faulty_status_supplier', {'supplier':supplier.id, 'from':'mail_send', 'to':'new', 'return':status}) }}">A déclarer</a></li>
                                        <li><a href="{{ path('faulty_status_supplier', {'supplier':supplier.id, 'from':'mail_send', 'to':'balance', 'return':status}) }}">Renvoi du fournisseur</a></li>
                                        <li><a href="{{ path('faulty_status_supplier', {'supplier':supplier.id, 'from':'mail_send', 'to':'refunded', 'return':status}) }}">Terminé / Remboursé</a></li>
                                    </ul>
                                </div>
                            </div>
                            {% set active = false %}
                        {% endif %}
                        {% if balance_size > 0 and status == 'balance' %}
                            <div role="tabpanel" class="tab-pane{% if active %} active{% endif %}" id="{{ supplier_name_link }}balance">
                                {{ block('table_head_date_send') }}{{ balance }}{{ block('table_foot') }}
                                <div class="btn-group">
                                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Modifier le statut de tous les produits <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li><a href="{{ path('faulty_status_supplier', {'supplier':supplier.id, 'from':'balance', 'to':'new', 'return':status}) }}">A déclarer</a></li>
                                        <li><a href="{{ path('faulty_status_supplier', {'supplier':supplier.id, 'from':'balance', 'to':'mail_send', 'return':status}) }}">Mail envoyé</a></li>
                                        <li><a href="{{ path('faulty_status_supplier', {'supplier':supplier.id, 'from':'balance', 'to':'refunded', 'return':status}) }}">Terminé / Remboursé</a></li>
                                    </ul>
                                </div>
                            </div>
                            {% set active = false %}
                        {% endif %}
                        {% if refunded_size > 0 and status == 'refunded' %}
                            <div role="tabpanel" class="tab-pane{% if active %} active{% endif %}" id="{{ supplier_name_link }}refunded">
                                {{ block('table_head_date_send') }}{{ refunded }}{{ block('table_foot') }}
                                <div class="btn-group">
                                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Modifier le statut de tous les produits <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li><a href="{{ path('faulty_status_supplier', {'supplier':supplier.id, 'from':'refunded', 'to':'new', 'return':status}) }}">A déclarer</a></li>
                                        <li><a href="{{ path('faulty_status_supplier', {'supplier':supplier.id, 'from':'refunded', 'to':'mail_send', 'return':status}) }}">Mail envoyé</a></li>
                                        <li><a href="{{ path('faulty_status_supplier', {'supplier':supplier.id, 'from':'refunded', 'to':'balance', 'return':status}) }}">Renvoi du fournisseur</a></li>
                                    </ul>
                                </div>
                            </div>
                            {% set active = false %}
                        {% endif %}
                    </div>
                </div>
            {% endif %}
        {% endif %}
    {% endfor %}
{% endblock %}