{% extends 'base.html.twig' %}

{% block body %}
    <h1>Newsletter list</h1>
    <a href="{{ path('newsletter_new') }}" class="btn btn-info">Créer une newsletter</a>

    <table class="table table-hover">
        <thead>
            <tr>
                <th>Titre</th>
                <th>Date de création</th>
                <th>Id</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for newsletter in newsletters %}
            <tr>
                <td><a href="{{ path('newsletter_edit', { 'id': newsletter.id }) }}">{{ newsletter.title }}</a></td>
                <td>{{ newsletter.createdAt }}</td>
                <td>{{ newsletter.id }}</td>
                <td>
                    <a href="{{ path('newsletter_edit', { 'id': newsletter.id }) }}" class="btn btn-warning">Modifier</a>
                    - <div class="btn-group">
                        <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Télécharger <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            {% for shop in shops %}
                                <li><a href="{{ path('newsletter_download', { 'id': newsletter.id, 'shop': shop.id }) }}">{{ shop.name }}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                    - <a href="{{ path('newsletter_show', { 'id': newsletter.id }) }}">Supprimer</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="navigation">
        {{ knp_pagination_render(newsletters) }}
    </div>

    <a href="{{ path('newsletter_new') }}" class="btn btn-info">Créer une newsletter</a>
{% endblock %}
