{% extends 'base.html.twig' %}

{% block body %}
    <h1>Image du carrousel</h1>

    <table class="table table-bordered table-hover">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ carouselProduct.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ carouselProduct.name }}</td>
            </tr>
        </tbody>
    </table>

    <h2>Image</h2>
    <img src="{{ carouselProduct.picture }}" class="img-rounded">

    <p>
        <a class="btn btn-default" href="{{ path('carousel_product_index') }}">
            Retour à la liste
        </a>
        -
        <a class="btn btn-warning" href="{{ path('carousel_product_edit', { 'id': carouselProduct.id }) }}">
            <span class="glyphicon glyphicon-pencil"></span>
            Modifier
        </a>
        {{ form_start(delete_form) }}
        <input class="btn btn-danger" type="submit" value="Supprimer">
        {{ form_end(delete_form) }}
    </p>
{% endblock %}
